<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Firebase - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
        <script src="./config.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/3.5.2/firebase-ui-auth__ja.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.5.2/firebase-ui-auth.css" />

    </head>
    <body>
        <div id="app">
            <div class="container">
<template v-if="user.uid">
                <div class="my-2">
                    <button @click="firebase.auth().signOut()">SignOut</button>
                    <button class="pl-2" @click="user.delete()">Delete Account</button>
                </div>
                <dl>
<template v-for="i in props">
                        <dt> {{i}} </dt>
                        <dd> {{user[i]}} </dd>
</template>
                </dl>
</template>
                <div id="firebaseui-auth-container"></div>
            </div>
        </div>
        <script src="./index.js"> </script>
    </body>
</html>
